---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import { AstroSeo } from "@astrolib/seo";
---

<AstroSeo
  title={frontmatter.title}
  description={frontmatter.description}
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Title}",
    description: "{frontmatter.description}",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <div
    class="mx-auto hover:prose-a:text-black prose prose-a:text-accent-500 prose-blockquote:border-l-black prose-blockquote:text-gray-500 prose-code:text-black prose-headings:font-bold prose-headings:text-black prose-headings:tracking-tighter prose-li:marker:text-accent-500 text-gray-500 py-24 prose-pre:border">
    <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>

    <p>{frontmatter.title}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Written by: {frontmatter.author}</p>
    <div class="flex flex-wrap gap-3 mt-12">
      {
        frontmatter.tags.map((tag) => (
          <span class="inline-flex items-center text-sm font-light text-black dark:text-white  underline hover:text-accent-300">
            <a href={`/tags/${tag}`}>{tag}</a>
          </span>
        ))
      }
    </div>
    <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
    <slot />
  </div>
</BaseLayout>
